@font-face {
  font-family: menus;
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e6fwniDtzM.woff)
    format("woff");
}

@mixin font_menu($size) {
  font-size: $size;
  font-family: menus, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

.menu {
  height: 100px;
  background-color: blanchedalmond;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  flex-direction: row;

  &-logo {
    flex-grow: 4;
    svg {
      width: 100px;
    }
  }
  &-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    @include font_menu(14px);
  }
}

@media screen and (max-width: 400px) {
  .menu {
    height: 400px;
    background-color: rgb(16, 128, 49);
    flex-direction: column;
    transition-duration: 2s;
    transition-property: background-color;
  }
}

.part_one {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 300px;
  background-color: cadetblue;
  img {
    width: 200px;
  }
}
